/* src/css/Home.css */
.home-container {
    background-image: url('../assets/Home_Illustration.png');  
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;
    height: 98.5vh !important;  
    width: 100vw !important;   
    display: flex;
    flex-direction: column;
    margin-top: -8vh;
    align-items: center;
    text-align: center;
  }
  

  .home-title{
    margin-top: 15vh !important;
  }

  .title-1, .title-2{
    font-family: "Montserrat Alternates", system-ui;
    font-weight: 300;
  }

  .rest-here{
    color: #A9C4A0 !important;
    font-family: "Playwrite US Trad", system-ui !important;
    font-optical-sizing: auto;
  }


  .journal-feature-home {
    position: relative;
    text-align: center;
    padding: 20px;

    background: #FFFFFF7A;
    backdrop-filter: blur(60px);
    border-radius: 25px;

    font-family: "Montserrat Alternates", system-ui !important;
    font-weight: 300 !important;
  }


  .journal-feature-home {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .journal-feature-home i{
    color: #A9C4A0 !important;
    font-family: "Playwrite US Trad", system-ui !important;
    font-optical-sizing: auto;
  }

  .journal-feature-home:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  
  .feature-title{
    font-family: "Montserrat Alternates", system-ui !important;
    font-weight: 400 !important;
  }

  .feature-subtitle{
    font-family: "Montserrat Alternates", system-ui !important;
    font-weight: 200 !important;
    font-size: 20px;
  }

  .home-feature-btn{
    font-family: "Montserrat Alternates", system-ui !important;
    font-weight: 300;
  }

  .resource-btn-home{
    font-family: "Montserrat Alternates", system-ui !important; 
    font-weight: 300;
  }

  .vector-top-left-home {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .features-row-home-1, .features-row-home-2 {
    align-items: center;
    justify-content: center;

    display: flex;
    align-items: center;
    height: 40%;
  }
  
  .home-title h1 {
    font-size: 2.5em;
    margin: 0;
  }

 

  .journal-feature-home h3, .journal-feature-home h4 {
  margin: 10px 0;
}

.journal-feature-home button {
  margin-top: 10px;
}

.feature-left{
  margin-right: 35%;
}

.feature-right{
  margin-left: 35%;
}

/* ==================================================================== */
/* responsiveness */

@media (max-width: 767.98px) {
  .features-row-home-1, .features-row-home-2 {
    flex-direction: column; /* Stacks features vertically on smaller screens */
    margin-top: 20px;
  }
  .feature-left,
  .feature-right {
      margin: 0; /* Removes extra margins for better alignment on smaller screens */
  }
}

@media (min-width: 768px) and (max-width: 991.98px){

}

