.search-bar-con{
    width: 40% !important;
    margin-left: 30%;
    color: #A9C4A0 !important;
    border-radius: 50px !important;
}

.search-icon{
    color: #A9C4A0 !important;
    background-color: white !important;
}

.custom-card{
    background-color: #FFFFFF7A !important;
    border: 1px solid #FFFFFF1F !important;
    backdrop-filter: blur(40px) !important;
}

.card-arrow-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.resource-card-body{
    text-align: left;
    font-family: "Playwrite US Trad", system-ui !important;
    font-optical-sizing: auto;
}

.card-text-resource{
    font-family: "Montserrat Alternates", system-ui;
    font-weight: 300;
}

.filter-sort-row{
    display: flex;
    justify-content: space-around;

}

.filter-pill{
    width: 100%;
    border-radius: 25px !important;
    background-color: white !important;
    color: black !important;
    padding: 5px !important;
    margin-right: 5vw !important;
    font-family: "Playwrite US Trad", system-ui !important;
    font-optical-sizing: auto;
}

.filter-pill-con{
    margin-right: 2%;
}


.dropdown-toggle{
    border: none !important;
}

.sort-dropdown-col{
    display: flex;
    justify-content: flex-end;
}

.chat-expand-arrow:hover{
    cursor: pointer;
}

.filter-pill.active {
    background-color: #A9C4A0 !important; 
    color: white !important; 
  }

/* new professional modal */
.new-prof-modal-btn-group{
    width: 60%;
    margin-left: 20%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.new-prof-delete-btn{
    width: 80%;
    margin-left: 10%;
}


/* single resource page */

  /* ==================================================================== */
/* responsiveness */
@media (max-width: 768px) { /* Tablets and smaller */
    .filter-sort-row {
        flex-direction: column; 
        align-items: center;
    }

    .filter-pill-con {
        width: 45%; 
        margin-bottom: 10px; 
    }

    .filter-pill {
        padding: 8px 12px !important; 
    }

    .search-bar-con {
        width: 60% !important;
        margin-left: 20%; 
    }
    .sort-dropdown-col {
        width: 40% !important;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 576px) { /* Mobile screens */
    .filter-pill-con {
        width: 100%; 
    }

    .filter-pill {
        font-size: 14px; 
        padding: 6px 8px !important;
    }

    .search-bar-con {
        width: 80% !important; 
        margin-left: 10%;
    }
    .sort-dropdown-col {
        width: 80% !important;
        margin: 10px auto; 
    }
}