.search-bar-con{
    width: 40% !important;
    margin-left: 30%;
    color: #A9C4A0 !important;
    border-radius: 50px !important;
}

.search-icon{
    color: #A9C4A0 !important;
    background-color: white !important;
}

.custom-card{
    background-color: #FFFFFF7A !important;
    border: 1px solid #FFFFFF1F !important;
    backdrop-filter: blur(40px) !important;
}

.card-arrow-icon{
    display: flex;
    justify-content: end;
    padding: 5%;
}

.resource-card-body{
    text-align: left;
    font-family: "Playwrite US Trad", system-ui !important;
    font-optical-sizing: auto;
}

.card-text-resource{
    font-family: "Montserrat Alternates", system-ui;
    font-weight: 300;
}

.filter-sort-row{
    display: flex;
    justify-content: space-around;

}

.filter-pill{
    width: 100%;
    border-radius: 25px !important;
    background-color: white !important;
    color: black !important;
    padding: 5px !important;
    margin-right: 5vw !important;
    font-family: "Playwrite US Trad", system-ui !important;
    font-optical-sizing: auto;
}

.filter-pill-con{
    margin-right: 2%;
}


.dropdown-toggle{
    border: none !important;
}

.sort-dropdown-col{
    display: flex;
    justify-content: flex-end;
}

.chat-expand-arrow:hover{
    cursor: pointer;
}

.filter-pill.active {
    background-color: #A9C4A0 !important; 
    color: white !important; 
  }