.search-bar-con{
    width: 40% !important;
    margin-left: 30%;
    color: #A9C4A0 !important;
    border-radius: 50px !important;
}

.search-icon{
    color: #A9C4A0 !important;
    background-color: white !important;
}

.custom-card{
    background-color: #FFFFFF7A !important;
    border: 1px solid #FFFFFF1F !important;
    backdrop-filter: blur(40px) !important;
}

.card-arrow-icon{
    display: flex;
    justify-content: end;
    padding: 5%;
}

.resource-card-body{
    text-align: left;
    font-family: "Playwrite US Trad", system-ui !important;
    font-optical-sizing: auto;
}

.card-text-resource{
    font-family: "Montserrat Alternates", system-ui;
    font-weight: 300;
}